.banner{
	height:250px;
	width:100%;
	background-image: url('https://res.cloudinary.com/kinskin/image/upload/v1569243611/shutterstock_692950210_yfoxef.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 1;
	padding:0;
	.bannerOverlay{
		height:100%;
		width:100%;
		background-color: rgba(0,0,0,0.5);
		text-align: center;
		p{
			padding-top:10px;
			font-size: 80px;
			font-family: 'Satisfy', cursive;
			color:white;
		}
	}
}